<!DOCTYPE html>
<html>
   
   <div> <% layout('layouts/partials/boilerplate') %> </div>
   <!--Body-->

<body>
    
        <h2>All Adventures</h2>

    <% for (let adventure of adventures){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(adventure.images.length) {%>
                <img class="img-fluid" alt="" src="<%=adventure.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= adventure.title %> </h5>
                
                    <p class="card-text"><%= adventure.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= adventure.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/adventures/<%=adventure._id%>">View <%=adventure.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>
</html>